<div class="payment-option opc-payment-additional" data-bind="if: isDisplayed()">
    <div class="payment-option-content">
        <div class="payment-option-inner">
            <div class="field">
                <div class="control">
                    <!-- ko if: isDisplayed() -->
                        <input type="hidden" id="current_isp" value="">
                        <div class="isp-question" data-bind="text: getIspQuestion()"></div>
                        <div>
                            <input type="radio" class="satisfied" data-bind="click: setIsp"  name="is_satisfied" value="1">
                            <label for="satisfied">Yes</label>
                        </div>
                        <div>
                            <input type="radio" class="satisfied" data-bind="click: setIsp" name="is_satisfied" value="0">
                            <label for="not_satisfied">No</label>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>