<?xml version="1.0"?>
<!--
/**
 * Copyright © Parth, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="kemana_ispsurvey_order_grid_data_source" xsi:type="string">Kemana\IspSurvey\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Kemana\IspSurvey\Api\CustomerIspSurveyInterface" type="Kemana\IspSurvey\Model\CustomerIspSurvey"/>
</config>