<?xml version="1.0"?>
<!--
/**
 * Copyright © Parth, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="kemana_isp_survey-add_isp_to_order" 
		          instance="Kemana\IspSurvey\Observer\AddIspToOrder" />
    </event>
</config>